@use 'variables' as *;
@use 'mixins' as *;

.contact-us {
  display: flex;
  flex-direction: column;
  margin: 0 20px 120px;

  &__title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    margin-top: $space-12;
    margin-bottom: $space-6;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-1;
    margin-bottom: $space-8;

    input[type='text'],
    input[type='email'],
    textarea {
      padding: 14px;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      color: $color-slate-light;
      background-color: #f9f9f9;
      font-family: inherit;
    }
    textarea {
      height: 148px;
      margin-bottom: $space-4;
    }
  }

  &__form__button {
    padding: $space-1;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $color-white;
    background-color: $color-orange-vivid;
    border: none;
    cursor: pointer;
    align-self: flex-start;

    &:hover,
    &:active {
      background-color: $color-black-off;
      color: $color-white;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    color: $color-slate-light;
    &__text {
      display: flex;
      flex-direction: column;
      gap: $space-1;

      a {
        color: $color-black-off;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $color-orange-vivid;
        }
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    margin-left: 72px;
    margin-right: 72px;
    &__title {
      font-size: $font-size-5xl;
    }

    .contact-us__container {
      display: flex;
      flex-direction: row;
      gap: $space-8;
    }

    .contact-info {
      flex: 1 1 50%;
    }
    .contact-us__form {
      flex: 1 1 50%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 120px;
    margin-right: 120px;
    &__title {
      font-size: $font-size-6xl;
    }
  }
}
