@use 'variables' as *;

.hero {
  align-items: flex-end;
  background-image: url('../images/hero_image.png');
  background-position-x: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 0 0 40px;
  z-index: 1;

  &__title {
    width: 100%;
    margin: 0 20px;
    font-size: $font-size-4xl;
    color: $color-white;
    font-weight: $font-weight-bold;
    line-height: $line-height-tight;

    @media (min-width: $breakpoint-tablet) {
      margin-left: 72px;
      margin-right: 72px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-left: 120px;
      margin-right: 120px;
      max-width: 1260px;
    }
  }
}
